<!DOCTYPE html>
    <head>
        <title>My Book Library</title>
        <link rel="stylesheet" href="/site.css" />
    </head>
    <body>
        <header class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/all">All Books</a></li>
                <li><a href="/add">Add Book</a></li>                
            </ul>            
        </header>

        <div class="container">
            {{{body}}}
        </div>

        <footer>
            Copyright 2018
        </footer>
    </body>
</html>